.first-layer{
    margin-bottom: 100px;
}
#mission{
    text-align: center;
}

.first-container{
    display: flex;
}
.focus-image{
    width: 50%;
}
.focus-image img{
    width: 80%;
}
.button{
    padding: 10px 15px;
    background-color: brown;
    border: 1px solid;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
.parent-container{
    display: flex;
}
.par-item{
    width: 50%;
    padding: 10px;
}
.par-item img{
    width: 40%;
}
footer{
    text-align: center;
}